{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur aut cumque debitis enim eos
        eveniet, fuga illo laboriosam minus natus nobis quaerat quis quo recusandae repellendus reprehenderit tempora
        temporibus tenetur ullam. Alias aliquam animi dolorum eligendi et explicabo iste itaque laboriosam, maxime
        minima molestiae quae quas repellendus sequi sint.</p>
    <p>Adipisci amet cumque deserunt facere, in itaque,
    laboriosam molestiae nesciunt nobis nulla possimus sint suscipit ut? Beatae dolorem doloremque harum iste molestiae
    provident quod totam, vitae. Ab architecto aut beatae consequatur delectus dolor, ducimus eligendi expedita
    explicabo facilis ipsa ipsum necessitatibus obcaecati odit porro rem vitae voluptate voluptatum. Cum, non!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cupiditate dolorem dolores ducimus eius, enim
        facere harum illum iusto libero maxime nobis obcaecati perspiciatis quam quisquam saepe ullam ut? Aliquam
        asperiores debitis error impedit magni minus, modi nihil sit unde? Consequuntur corporis cumque ducimus ipsam
        nihil quis similique tempora vitae.</p>
    <p>Amet blanditiis cum ea, error est expedita hic illum labore laborum
    laudantium libero, mollitia nisi nulla obcaecati quas quidem recusandae rem, sed! Blanditiis cumque delectus
    doloribus ea est et eum ex explicabo facilis harum illo labore nulla officiis perspiciatis, porro quas quidem
    quisquam tempora unde veniam. Deserunt eligendi fugit porro?</p>

{% endblock body %}